* {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  background-color: #004643;
  height: 100px;
  width: 100%;
}

h1 {
  margin-left: 50px;
}

.container {
  display: flex;
  width: 100%;
  height: 700px;
}

.bar-left {
  width: 15%;
  background-color: #004643;
}

.nav-user {
  background-color: #004643;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid white;
}

a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}


.bar-right {
  width: 85%;
}

table {
  margin-left: 50px;
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  border: 1px solid #dee2e6; /* Warna border tepi sel */
  padding: 8px;
}

th {
  background-color: #232946; /* Warna latar belakang header */
  color: #fff; /* Warna teks header */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Warna latar belakang baris genap */
}

tr:nth-child(odd) {
  background-color: #fff; /* Warna latar belakang baris ganjil */
}

.button-main {
  margin-left: 50px;
}

.button {
  border-radius: 10px;
  margin-top: 20px;
  /* margin-left: 50px; */
  width: 200px;
  height: 35px;
  background-color: #232946;
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.button-1 {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 0px;
  width: 200px;
  height: 35px;
  background-color: green;
}

a.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/* .button-1 {
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.button-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center; /* Menambahkan perataan teks di tengah */
/* } */
