<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/crud_admin.css') }}">
    <title>Crud Admin</title>
</head>
<body>
    <div class="navbar">
        <h1>CMS Admin</h1>
    </div>
    <div class="container">
        <div class="bar-left">
            <div class="nav-user">
                <a href="{{ url_for('admin_user') }}">USER</a>
            </div>
            <div class="nav-user">
                <a href="{{ url_for('admin_crud') }}">CRUD</a>
            </div>
            <div class="nav-user">
                <a href="{{ url_for('admin_status') }}">STATUS</a>
            </div>            
        </div>
        <div class="bar-right">
            <h1>Daftar Pengguna</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </table>

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>
