<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="crud_admin.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/crud_admin.css') }}">
    <title>Crud Admin</title>
</head>
<body>
    <div class="navbar">
        <h1>CMS Admin</h1>
    </div>
    <div class="container">
        <div class="bar-left">
            <div class="nav-user">
                <a href="{{ url_for('admin_user') }}">USER</a>
            </div>
            <div class="nav-user">
                <a href="{{ url_for('admin_crud') }}">CRUD</a>
            </div>
            <div class="nav-user">
                <a href="{{ url_for('admin_status') }}">STATUS</a>
            </div>   
            <form action="{{ url_for('logoutadmin') }}" method="POST">
                <button class="btn btn-danger fw-bold py-1 px-5 fs-3 rounded-4 mb-1"
                    type="submit">Logout</button>
            </form>
        </div>
        <div class="bar-right">
            <h1>
                ini status
            </h1>
        </div>
    </div>
</body>
</html>
