<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/crud_admin.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Crud Admin</title>
    <style>
        .p-1.bd-highlight {
            font-family: 'Poppins', sans-serif;
            color: #EEBBC3;
            font-size: medium;
        }

        p.fw-bold {
            font-family: 'Poppins', sans-serif;
            color: #232946;
            font-weight: bold;
            font-size: large;
        }

        a {
            text-decoration: none;
        }
        table button {
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            align-item: center;
            justify-content: center;
        }        
    </style>
</head>

<body>
    <div class="d-flex bd-highlight">
        <div class="d-flex flex-column bd-highlight justify-content-center" style="flex: 0 0 25%;">
            <div class="py-4 px-3 d-flex flex-row bd-highlight" style="background-color: #232946;">
                <div class="p-2 bd-highlight"><img src="../static/asset/Ellipse 9.png"></div>
                <div class="p-1 bd-highlight">
                    <div class="d-flex flex-column bd-highlight">
                        <div class="p-1 bd-highlight">Username</div>
                        <div class="p-1 bd-highlight">Status</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd-highlight d-flex align-items-center ms-5 mt-3" style="flex: 0 0 70%;">
            <p class="fs-3" style="font-family: 'Poppins', sans-serif; font-weight: 500;">CMS ADMIN</p>
        </div>
    </div>

    <div class="d-flex bd-highlight">
        <div class="d-flex flex-column bd-highlight p-3" style="flex: 0 0 25%; background-color: #D4D8F0;">
            <div class="d-flex flex-row bd-highlight py-4">
                <div class="p-2 bd-highlight"><img src="../static/asset/Vector (3).png" alt=""></div>
                <div class="p-2 bd-highlight"> <a href="{{ url_for('admin_user') }}">
                        <p class="fw-bold">User</p>
                    </a></div>
            </div>
            <div class="d-flex flex-row bd-highlight py-4">
                <div class="p-2 bd-highlight"><img src="../static/asset/Vector (1).png" alt=""></div>
                <div class="p-2 bd-highlight"> <a href="{{ url_for('admin_crud') }}">
                        <p class="fw-bold">Product</p>
                    </a></div>
            </div>
            <div class="d-flex flex-row bd-highlight py-4">
                <div class="p-2 bd-highlight"><img src="../static/asset/Vector (2).png" alt=""></div>
                <div class="p-2 bd-highlight"> <a href="{{ url_for('admin_status') }}">
                        <p class="fw-bold">Purchase Status</p>
                    </a></div>
            </div>
            <form action="{{ url_for('logoutadmin') }}" method="POST">
                <button class="btn btn-danger fw-bold py-1 px-5 fs-3 rounded-4 mb-1" type="submit">Logout</button>
            </form>
        </div>
        <div class="bd-highlight d-flex p-3 w-100" style="flex: 0 0 75%; background-color: #eeeeee;">
            <div class="d-flex flex-column bd-highlight w-100" style="background-color: white;">
                <div class="p-2 bd-highlight me-3 w-100">
                    <h1>Daftar Pengguna</h1>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Order ID</th>
                            <th>invoice</th>
                            <th>Status</th>
                            <th>Payment Date</th>
                            <th>Action</th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.session.id_user }}</td> <!--user id-->
                            {% if order.session %}
                            <td>{{ order.session.user.username }}</td> <!--username-->
                            <td>{{ order.session.user.email }}</td> <!--user email-->
                        {% else %}
                            <td>N/A</td>
                            <td>N/A</td>
                        {% endif %}
                            <td>{{ order.id_order }}</td> <!--order id-->
                            <td><a href="{{ url_for('view_invoice', payment_id=order.id_payment) }}">Check</a></td> <!--check invoice-->
                            <td>
                                {{ order.order_status }}  <!--order status-->
                            </td>
                            <td>{{ order.payment_detail.payment_date }}</td> <!--payment date-->
                            <td id="action"> 
                                <form action="{{ url_for('approve_payment', payment_id=order.id_payment) }}" method="POST">
                                    <button type="submit" class="btn btn-success">Setujui</button>
                                </form>
                                <form action="{{ url_for('disapprove_payment', payment_id=order.id_payment) }}" method="POST">
                                    <button type="submit" class="btn btn-danger">Batalkan</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</body>

</html>