<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/invoice_style.css') }}">
    <link rel="stylesheet" type="text/css" href="invoice_style.css">
    <title>Invoice</title>
</head>

<body>

    <div class="container">

        <div class="satu">
            <h1>Invoice Pembelian</h1>
        </div>
        <hr>
        <div class="dua">
            <h3>
                {{ order.session.user.fullname }}
            </h3>
            <p>
                {{ order.session.user.address }}
            </p>
        </div>
        <hr>
        
        <div class="tiga">
            <div class="judul">
                {% for order_item in order.session.order_items %}
                <h3>
                    {{ order_item.product.name }}
                </h3>
                {% endfor %}
                <h3>
                    Total
                </h3>
                <h3>
                    Total Pembayaran
                </h3>
            </div>
            <div class="value">
                {% for order_item in order.session.order_items %}
                <p>
                    {{ order_item.quantity }}   |    Rp. {{ order_item.quantity * order_item.product.price }}
                </p>
                {% endfor %}
                <p>
                    {{ total_quantity }}    |   Rp. {{ total_price }}
                </p>
                <p>
                    Rp. {{ overall_pay }}
                </p>
            </div>
        </div>

        <hr>
        <div class="empat">
            <h3>
                Metode Pembayaran
            </h3>
            <p>
                {{ order.payment_detail.payment_method }}
            </p>
        </div>

    </div>

    <form action="{{ url_for('products') }}" class="btn"> 
    <button >Home</button>
    </form>

</body>

</html>