<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Keranjang</title>
    <style>
        .circle {
            background-color: #d4d8f0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .img-fluid {
            max-width: 80%;
            height: auto;
        }

        .garis {
            height: 1px;
            width: 98%;
            margin: 0% auto;
            background-color: black;
        }

        .teks-bold {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }

        .container-satu {
            width: 100%;
            margin: 0% auto;
            display: flex;
            justify-content: space-between;
        }

        .layanan {
            width: 30%;
        }

        .d-flex.bd-highlight {
            margin: 0% auto;
            background-color: #D4D8F0;
        }

        .p-2.m-4 {
            background-color: #FFFFFE;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        }

        .image-container {
            background-color: #D4D8F0;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: auto;
        }

        .col.satu {
            display: flex;
        }

        .col.d-flex {
            background-color: white;
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        p.m-2 {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }

        p.fw-bold {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
    <!-- Navbar Atas Garis -->
    <div class="container-satu">
        <div class="layanan satu d-flex align-items-center">
            <div class="col d-flex justify-content-start" id="profileContainer">
                <div class="circle d-flex align-items-center p-1 me-2 ms-3">
                    <img src="../static/asset/Vector.png">
                </div>
                <p class="m-2" id="username">username</p>
            </div>
        </div>
        <div class="layanan dua">
            <div class="col d-flex justify-content-center align-items-center" id="logoCahayaFirmanContainer">
                <img src="../static/asset/Logo.png" class="img-fluid">
            </div>
        </div>
        <div class="layanan tiga d-flex align-items-center">
            <div class="col d-flex justify-content-end">
                <div class="d-flex flex-column align-items-center" id="keranjangContainer">
                    <img src="../static/asset/Shopping Bag.png" class="img-fluid me-3">
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Atas Garis -->
    <div class="garis"></div>
    <!-- Navbar Bawah Garis -->
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col order-last mx-3">
                <img src="../static/asset/lucide_search.png" class="img-fluid">
            </div>
            <div class="col mx-3 mt-3" id="aboutContainer">
                <p class="teks-bold">About</p>
            </div>
            <div class="col mx-3 mt-3">
                <p class="teks-bold">Product</p>
            </div>
            <div class="col order-first mx-3 mt-3" id="homeContainer">
                <p class="teks-bold">Home</p>
            </div>
        </div>
    </div>
    <!-- End Navbar Bawah Garis -->
    <!-- Main Content Keranjang Kiri -->
    <div class="d-flex bd-highlight p-4">
        <!-- <h4>Card</h4> -->
        <div class="p-3 flex-fill bd-highlight m-4" style="background-color: #EFF1FB; width: 75%; border-radius: 4px;">
            <div class="p-2 m-4 bd-highlight" style="border-radius: 7px;">
                <div class="row py-1 px-4">
                    <div class="col satu">
                        <div class="image-container">
                            <img src="../static/asset/bata.png" class="img-fluid">
                        </div>
                        <div class="col d-flex flex-column bd-highlight align-items-start ms-3">
                            <div class="bd-highlight mt-3">
                                <p class="fw-bold fs-5">Batu Bata</p>
                            </div>
                            <div class="bd-highlight mt-2">
                                <p class="fw-bold text-xl text-start">Rp. 3.500</p>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="row">
                            <div class="col">
                                <img src="../static/asset/mdi_rubbish-bin-circle.png" class="img-fluid">
                            </div>
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                <!-- <img src="../static/asset/plus.png" class="img-fluid"> -->
                            </div>
                            <div class="col">
                                <p class="fw-bold">1</p>
                            </div>
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                                <!-- <img src="../static/asset/mines.png" class="img-fluid"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 m-4 bd-highlight" style="border-radius: 7px;">
                <div class="row py-1 px-4">
                    <div class="col satu">
                        <div class="image-container">
                            <img src="../static/asset/semen.png" class="img-fluid">
                        </div>
                        <div class="col d-flex flex-column bd-highlight align-items-start ms-3">
                            <div class="bd-highlight mt-3">
                                <p class="fw-bold fs-5">Semen</p>
                            </div>
                            <div class="bd-highlight mt-2 ">
                                <p class="fw-bold text-xl">Rp. 61.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="row">
                            <div class="col">
                                <img src="../static/asset/mdi_rubbish-bin-circle.png" class="img-fluid">
                            </div>
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                <!-- <img src="../static/asset/plus.png" class="img-fluid"> -->
                            </div>
                            <div class="col">
                                <p class="fw-bold">1</p>
                            </div>
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                                <!-- <img src="../static/asset/mines.png" class="img-fluid"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 m-4 bd-highlight" style="border-radius: 7px;">
                <div class="row py-1 px-4">
                    <div class="col satu">
                        <div class="image-container">
                            <img src="../static/asset/pasir.png" class="img-fluid">
                        </div>
                        <div class="col d-flex flex-column bd-highlight align-items-start ms-3">
                            <div class="bd-highlight mt-3">
                                <p class="fw-bold fs-5">Pasir</p>
                            </div>
                            <div class="bd-highlight mt-2">
                                <p class="fw-bold text-xl">Rp. 350.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="row">
                            <div class="col">
                                <img src="../static/asset/mdi_rubbish-bin-circle.png" class="img-fluid">
                            </div>
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                <!-- <img src="../static/asset/plus.png" class="img-fluid"> -->
                            </div>
                            <div class="col">
                                <p class="fw-bold">1</p>
                            </div>
                            <div class="col">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                                <!-- <img src="../static/asset/mines.png" class="img-fluid"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content Keranjang Kiri -->
        <!-- Main Content Keranjang Kanan -->
        <div class="flex-fill bd-highlight mt-4" style="width: 40%;">
            <div class="p-2 mt-4 ms-5 flex-fill bd-highlight" style="background-color: #EFF1FB; width: 80%;">
                <div class="p-2 m-4 bd-highlight" style="border-radius: 7px;">
                    <div class="container">
                        <div class="row row-cols-2">
                            <div class="col">
                                <p class="fw-bolder fs-5">Subtotal:</p>
                            </div>
                            <div class="col">
                                <p class="fw-bold">Rp. 414.500</p>
                            </div>
                            <div class="col">
                                <p class="fw-bolder fs-5">Tax:</p>
                            </div>
                            <div class="col">
                                <p class="fw-bold">Rp. 0</p>
                            </div>
                            <div class="col">
                                <p class="fw-bolder fs-5">Total:</p>
                            </div>
                            <div class="col">
                                <p class="fw-bold">Rp. 414.500</p>
                            </div>
                            <div class="garis m-3"></div>
                            <button class="btn btn-success" type="button">checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content Keranjang Kanan -->

        <!-- Script Untuk Pindah Lewat Menu Navbar -->
        <script>

            const urlToProfile = "{{ url_for('profil') }}";
            document.addEventListener('DOMContentLoaded', function () {
                const profileContainer = document.getElementById('profileContainer');

                profileContainer.addEventListener('click', function () {
                    window.location.href = urlToProfile;
                });
            });

            const urlToHome = "{{ url_for('home') }}";
            document.addEventListener('DOMContentLoaded', function () {
                const homeContainer = document.getElementById('homeContainer');

                homeContainer.addEventListener('click', function () {
                    window.location.href = urlToHome;
                });
            });

            const urlToAbout1 = "{{ url_for('about') }}";
            document.addEventListener('DOMContentLoaded', function () {
                const aboutContainer = document.getElementById('aboutContainer');

                aboutContainer.addEventListener('click', function () {
                    window.location.href = urlToAbout1;
                });
            });

            const urlToAbout2 = "{{ url_for('about') }}";
            document.addEventListener('DOMContentLoaded', function () {
                const logoCahayaFirmanContainer = document.getElementById('logoCahayaFirmanContainer');

                logoCahayaFirmanContainer.addEventListener('click', function () {
                    window.location.href = urlToAbout2;
                });
            });

            const urlToKeranjang = "{{ url_for('keranjang') }}";
            document.addEventListener('DOMContentLoaded', function () {
                const keranjangContainer = document.getElementById('keranjangContainer');

                keranjangContainer.addEventListener('click', function () {
                    window.location.href = urlToKeranjang;
                });
            });
        </script>
        <!-- Script Untuk Pindah Lewat Menu Navbar -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>