<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product_style.css') }}">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <div class="profile">
                <img class="logo-1" src="{{ url_for('static', filename='asset/profile_user.png') }}" alt="profile">
                <p class="username" Id="username">Username</p>
            </div>
            <img class="logo-2" src="{{ url_for('static', filename='asset/Logofirman.png') }}" alt="logo">
            <img class="bucket" src="{{ url_for('static', filename='asset/bucket.png') }}" alt="bucket">
        </div>
        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Product</a>
            <img src="{{ url_for('static', filename='asset/lucide_search.png') }}" alt="">
        </div>
    </div>
    <div class="container">
        <div class="search">
            <p>Search Product</p>
            <div class="img">
                <div class="space"></div>
                <img src="{{ url_for('static', filename='asset/lucide_search.png') }}" alt="">
            </div>
            <img class="img-1" src="{{ url_for('static', filename='asset/search_img.png') }}" alt="">
        </div>
        <div class="product">
            {% for barang in barang_list %}
            <div class="detail">
                <div class="head">
                    <div class="head-1">
                        <p class="title">{{ barang.name }}</p>
                        <div class="rating">
                            <img src="{{ url_for('static', filename='asset/star_rating.png') }}" alt="">
                            <p>5 | .</p>
                            <br>
                            <p>100 </p>
                            <br>
                            <p>. Terjual</p>
                        </div>
                    </div>
                    <img class="love" src="{{ url_for('static', filename='asset/lovely.png') }}" alt="">
                </div>
                <img  Id="image" class="item" src="{{ url_for('static', filename='unggah/' + barang.picture) }}" alt="picture">
                <p class="des">{{ barang.desc }}</p>
                <p class="price">Rp.{{ barang.price }}</p>
                <div class="btn">
                    <img src="{{ url_for('static', filename='asset/add.png') }}" alt="">
                    <p>Add To Cart</p>
                </div>  
                <div class="btn-1">
                    <form action="/buy/{{ barang.id }}" method="POST">
                        <input type="hidden" name="_method" value="POST">
                        <img src="" alt="">
                        <button type="submit" class="sub">Buy Now</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Add your custom JavaScript at the end of the body if needed -->
    <script src="script.js"></script>
</body>

</html>