<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        .circle {
            background-color: #d4d8f0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body {
            background-color: #D4D8F1 !important;
        }

        .border-bottom {
            border-width: 3px !important;
            border-color: black !important;
        }

        .card {
            background-color: #EFF3FB;
        }

        .form-check-input {
            width: 2em;
            height: 2em;
        }

        .form-check-label {
            margin-left: 10px;
            margin-top: 7px;
        }

        .container-satu {
            width: 100%;
            margin: 0% auto;
            display: flex;
            justify-content: space-between;
        }

        .layanan {
            width: 30%;
        }

        .garis {
            height: 1px;
            width: 98%;
            margin: 0% auto;
            background-color: black;
        }

        .img-fluid {
            max-width: 80%;
            height: auto;
        }

        .teks-bold {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }

        p.mt-3 {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="containernaNavbar" style="background-color: white;">
        <!-- Navbar Atas Garis -->
        <div class="container-satu">
            <div class="layanan satu d-flex align-items-center">
                <div class="col d-flex justify-content-start" id="profileContainer">
                    <div class="d-flex align-items-center p-3 ms-1">
                        <!-- <img src="../static/asset/Vector.png"> -->
                        <img src="{{ url_for('static', filename='asset/Navbar/profile_user.png') }}"
                            class="img-fluid me-3">
                        <p class="mt-3">username</p>
                    </div>

                </div>
            </div>
            <div class="layanan dua">
                <div class="col d-flex justify-content-center align-items-center" id="logoCahayaFirmanContainer">
                    <img src="{{ url_for('static', filename='asset/Navbar/Logo.png') }}" class="img-fluid">
                </div>
            </div>
            <div class="layanan tiga d-flex align-items-center">
                <div class="col d-flex justify-content-end">
                    <div class="d-flex flex-column align-items-center" id="keranjangContainer">
                        <img src="{{ url_for('static', filename='asset/Navbar/Trolley.png') }}" class="img-fluid me-3">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Atas Garis -->
        <div class="garis"></div>
        <!-- Navbar Bawah Garis -->
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col order-last mx-3 mt-2">
                    <img src="{{ url_for('static', filename='asset/Navbar/lucide_search.png') }}" class="img-fluid">
                </div>
                <div class="col mx-3 mt-3" id="aboutContainer">
                    <p class="teks-bold">About</p>
                </div>
                <div class="col mx-3 mt-3" id="productContainer">
                    <p class="teks-bold">Product</p>
                </div>
                <div class="col order-first mx-3 mt-3" id="homeContainer">
                    <p class="teks-bold">Home</p>
                </div>
            </div>
        </div>
        <!-- End Navbar Bawah Garis -->
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col align-self-center text-center fw-bold">
                                <img src="static/asset/profil.png" class="mt-2" width="40%" alt="">
                                <div class="username mt-3 mb-2">{{ user.username }}</div>
                                <div class="email">{{ user.email }}</div>
                                <img class="img-fluid" src="static/asset/worker.png" alt="">
                                <form action="{{ url_for('logout') }}" method="POST">
                                    <button class="btn btn-danger fw-bold py-1 px-5 fs-3 rounded-4"
                                        type="submit">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card h-100 p-3">
                    <div class="card-body fw-bold">
                        <div class="h5 mb-4 fw-bold">Account Settings</div>
                        <div class="row">
                            <div class="col-2">
                                <img src="static/asset/profil.png" width="100%" alt="">
                            </div>
                            <div class="col-10">
                                <div class="username">{{ user.username }}</div>
                            </div>
                        </div>
                        <form action="{{ url_for('update_profile') }}" method="POST">
                            <div class="row mt-3">
                                <div class="col">
                                    <label for="full-name" class="form-label">Full Name</label>
                                    <input type="text" id="full-name" name="fullname"
                                        value="{{ user.fullname if user.fullname is not none else '' }}"
                                        class="form-control">
                                </div>
                                <div class="col">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input type="text" id="phone" name="telephone"
                                        value="{{ user.telephone if user.telephone is not none else '' }}"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="gender" class="form-label">Gender</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                                            value="M" {% if user.gender=='M' %} checked {% endif %}>
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                                            value="F" {% if user.gender=='F' %} checked {% endif %}>
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" id="email" name="email"
                                        value="{{ user.email if user.email is not none else '' }}" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="address" class="form-label">Address</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="address" name="address"
                                            value="{{ user.address if user.address is not none else '' }}"
                                            class="form-control">
                                        <span class="input-group-text"><i
                                                class="fa-solid fa-location-dot text-success"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col"></div>
                                <div class="col">
                                    <button type="submit"
                                        class="w-100 btn btn-success fw-bold fs-3 rounded-4">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script Untuk Pindah Lewat Menu Navbar -->
    <script>

        const urlToProfile = "{{ url_for('profil') }}";
        document.addEventListener('DOMContentLoaded', function () {
            const profileContainer = document.getElementById('profileContainer');

            profileContainer.addEventListener('click', function () {
                window.location.href = urlToProfile;
            });
        });

        const urlToHome = "{{ url_for('home') }}";
        document.addEventListener('DOMContentLoaded', function () {
            const homeContainer = document.getElementById('homeContainer');

            homeContainer.addEventListener('click', function () {
                window.location.href = urlToHome;
            });
        });

        const urlToAbout1 = "{{ url_for('about') }}";
        document.addEventListener('DOMContentLoaded', function () {
            const aboutContainer = document.getElementById('aboutContainer');

            aboutContainer.addEventListener('click', function () {
                window.location.href = urlToAbout1;
            });
        });

        const urlToAbout2 = "{{ url_for('about') }}";
        document.addEventListener('DOMContentLoaded', function () {
            const logoCahayaFirmanContainer = document.getElementById('logoCahayaFirmanContainer');

            logoCahayaFirmanContainer.addEventListener('click', function () {
                window.location.href = urlToAbout2;
            });
        });

        const urlToKeranjang = "{{ url_for('keranjang') }}";
        document.addEventListener('DOMContentLoaded', function () {
            const keranjangContainer = document.getElementById('keranjangContainer');

            keranjangContainer.addEventListener('click', function () {
                window.location.href = urlToKeranjang;
            });
        });
    </script>
    <!-- Script Untuk Pindah Lewat Menu Navbar -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>